[Unit]
Description=unicorn

[Service]
ExecStart=node /opt/unicorn/app.js
Restart=Always
User=nobody
Group=nobody
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/opt/unicorn

[Install]
WantedBy=multi-user.target